body{
    text-align: center;
    font-family: sans-serif;
}
#gameBoard{
    border: 3px solid gold;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
 /* want a 5*5 board so images must be 80px-the boarder cuz board is 400px */

#board Img{
    width: 79px;
    height: 79px;
    border: 0.5px solid blue; 
}
/* need 2 rows and 13 columns */
#puzzPieces{
    height: 160px;
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid gold;
}
#puzzPieces img{
    width: 79px;
    height: 79px;
    border: 0.5px solid blue; 
}

